@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
	background-image: url("res/weeknd.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

fieldset {
	text-align: center;
	background-color: rgba(23, 23, 23, .5);
	color: #ffffff;
	border: solid;
	border-color: rgba(23, 23, 23, 0);
	border-width: 1px;
	border-radius: 10px;
	width: 20%;
	margin: 20% auto 0 auto;
	vertical-align: middle;
	padding : 10px auto;
}

h2 {
	font-family: 'Poiret One', 'sans-serif';
	margin: 10px auto;
}

button {
	font-family: 'Raleway', 'sans-serif';
}

input {
	font-family: 'Raleway', 'sans-serif';
}